<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235137687573-02pa69spfr8t6dd3p85iado3cqoec0rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235137687573-02pa69spfr8t6dd3p85iado3cqoec0rg</string>
	<key>API_KEY</key>
	<string>AIzaSyADfh3R6PnmUh9m-TrMEBmrwLwTkr8n66c</string>
	<key>GCM_SENDER_ID</key>
	<string>235137687573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>richzii.FirebaseHomework</string>
	<key>PROJECT_ID</key>
	<string>location-db-5a0f3</string>
	<key>STORAGE_BUCKET</key>
	<string>location-db-5a0f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235137687573:ios:1d14190613645d26eb2e1c</string>
	<key>DATABASE_URL</key>
	<string>https://location-db-5a0f3.firebaseio.com</string>
</dict>
</plist>